body {
	background-color: lightgray;
}
.silver {
	background-color: silver;
}

.pet-detail {
	background-color: #fff;
	width: 200px;
	padding: 10px 20px;
	border-radius: 10px;
}

.part2 {
	background-color: pink;
}

.pet {
	background-color: white;
	border-radius: 10px;
	width: 30%;
	max-width: 250px;
	margin: 1rem;
	padding: 0 1rem 1rem;
	border: 2px solid transparent;
}
