body {
	background-color: lightgray;
}
.silver {
	background-color: silver;
}

.pet-detail {
	background-color: #fff;
	width: 200px;
	padding: 10px 20px;
	border-radius: 10px;
}

.part2 {
	background-color: pink;
}
